html, body, #root {
  height: 100%;
}

/* body */
.ant-layout {
  background-position: center;

}

/* header */
.searchInput>input.ant-input {
  width: 360px;
  outline: none;
  border: none;
}
.searchInput>input.ant-input:focus,
.searchInput>input.ant-input:hover {
  outline:none;
  border: none;
  box-shadow: 0 0 black;
}

/* left sidebar */
.logo {
  height: 120px;
  background-image: url("./logo.PNG");
  background-position: center;
  background-size: 110%;
}

.ant-layout-sider {
  margin-top: 0px;
}

/* profile in left sidebar */
.profile {
  background: none;
}
.sideMenu {
  background: none;
}
.ant-menu-item>a {
  color: #aaa;
}
.ant-menu-item-selected>a {
  color: #fff;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: rgb(142,142,142,0.4);
}
.ant-menu-item-selected>a:hover, .ant-menu-item>a:hover {
  color: #fff;
}

.new {
  background: #fff;
}
.old {
  background: rgba(230,230,230, 0.8);
}

/* footer */

.ant-layout-footer {
  padding: 16px 50px 8px;
}


/* about login page */
h1 {
  color: #014280;
}
.login-form {
  max-width: 450px;
}
.login-form-button {
  width: 100%;
}
.professor-btn {
  background: #1DA57A;
  border-color: #1DA57A;
}
.professor-btn:focus, .professor-btn:hover {
  background: #1DBE7A;
  border-color: #1DBE7A;
}


/* classroom */

/* project list */
.project-card {
  padding: 8px;
}
.ant-card-head {
  border-top:5px solid #40a9ff;
}



/* notice */
pre {
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  white-space: pre-wrap;
}

.noticeInput.ant-input {
  outline: none;
  border: none;
}
.noticeInput.ant-input:focus,
.noticeInput.ant-input:hover {
  outline:none;
  border: none;
  box-shadow: 0 0 black;
}