html, body, #root {
  height: 100%;
}

/* body */
.ant-layout {
  background-position: center;
  background: #fff;
}

/* header */
.searchInput>input.ant-input {
  width: 360px;
  outline: none;
  border: none;
}
.searchInput>input.ant-input:focus,
.searchInput>input.ant-input:hover {
  outline:none;
  border: none;
  box-shadow: 0 0 black;
}

/* left sidebar */
.logo {
  height: 120px;
  background-image: url("./logo.png");
  background-position: center;
  background-size: 90%;
  background-repeat: no-repeat;
}

.ant-layout-sider {
  margin-top: 0px;
  background-image: url("./sidebar.png");
}

/* profile in left sidebar */
.profile {
  background: none;
}
.sideMenu {
  background: none;
}
.ant-menu-item>a {
  color: #072561;
}
.ant-menu-item-selected>a {
  color: #fff;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: rgba(0,0,0,.25);
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item:active {
  background-color: rgba(0,0,0,.15);
}
.ant-menu-item-selected>a:hover, .ant-menu-item>a:hover {
  color: rgba(255, 255, 255, 0.8);
}

.new {
  background: #fff;
}
.old {
  background: rgba(230,230,230, 0.8);
}

/* footer */

.ant-layout-footer {
  padding: 16px 50px 8px;
  background: none;
}


/* about login page */
h1 {
  color: #014280;
}
.login-form {
  max-width: 450px;
}
.login-form-button {
  width: 100%;
}
.loginInput {
  border-bottom: 1px solid #ccc;
}
.loginInput>input.ant-input {
  outline: none;
  border: none;
}
.loginInput>input.ant-input:focus,
.loginInput>input.ant-input:hover {
  outline:none;
  border: none;
  box-shadow: 0 0 black;
}
.student-btn {
  border-radius: 0px;
}
.professor-btn {
  background: #1DA57A;
  border-color: #1DA57A;
  border-radius: 0px;
}
.professor-btn:focus, .professor-btn:hover {
  background: #1DBE7A;
  border-color: #1DBE7A;
}


/* classroom */

/* project list */
.project-card {
  padding: 8px;
}
/* project-card */
.project-card .ant-card-bordered {
  border: 1px solid #e8e8e8;
  border-left: none;
  border-top: none;
  box-shadow: 0 2px 8px rgba(0,0,0,.09);
}
.project-card .ant-card-bordered>.ant-card-head {
  background: rgba(207,216,220,.2);
}


/* notice */
pre {
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  white-space: pre-wrap;
}

.noticeInput.ant-input {
  outline: none;
  border: none;
}
.noticeInput.ant-input:focus,
.noticeInput.ant-input:hover {
  outline:none;
  border: none;
  box-shadow: 0 0 black;
}


/* kanbanboard */
/* .swimlane {
  background: rgba(207,216,220,.2);
  padding: 5px 0;
  min-height: 768px;
  border: none;
  border-radius: 4px;
} */