html, body, #root {
  height: 100%;
}

input, .ant-input {
  border-radius: 0;
}

/* body */
.ant-layout {
  background-position: center;
  background: none;
}
.layout-body {
  margin-left: 256px;
}

/* header */
.searchInput>input.ant-input {
  width: 100%;
  outline: none;
  border: none;
}
.searchInput>input.ant-input:focus,
.searchInput>input.ant-input:hover {
  outline:none;
  border: none;
  box-shadow: 0 0 black;
}

/* left sidebar */
.logo {
  height: 120px;
  background-image: url("./images/logo.png");
  background-position: center;
  background-size: 90%;
  background-repeat: no-repeat;
}
.ant-layout-sider {
  margin-top: 0px;
  background-image: url("./images/sidebar.png");
}
.ant-btn.logout-btn {
  width: 60%;
}

/* profile in left sidebar */
.profile {
  background: none;
}
.anticon.anticon-mail {
  font-size: 16px;
}
.sideMenu {
  background: none;
}
.ant-menu-item>a {
  color: #072561;
}
.ant-menu-item-selected>a {
  color: #fff;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: rgba(0,0,0,.25);
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item:active {
  background-color: rgba(0,0,0,.15);
}
.ant-menu-item-selected>a:hover, .ant-menu-item>a:hover {
  color: rgba(255, 255, 255, 0.8);
}
.new {
  background: #fff;
}
.old {
  background: rgba(230,230,230, 0.8);
}

/* footer */
.ant-layout-footer {
  padding: 16px 50px 8px;
  background: none;
}

/* main-layout */
.main-layout {
  height: 930px;
  background-image: url('https://www.wallpapersrc.com/img/d500505eef0146c7a41b69583fc57029/book-and-macbook-pro-coding-1789x1006.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
/* about login page */
h1 {
  color: #014280;
}
.login-form {
  max-width: 450px;
  background: rgba(0,0,0,.45);
}
.login-form-button {
  width: 100%;
}
.loginInput {
  border-bottom: 1px solid #ccc;
}
.loginInput>input.ant-input {
  outline: none;
  border: none;
}
.loginInput>input.ant-input:focus,
.loginInput>input.ant-input:hover {
  outline:none;
  border: none;
  box-shadow: 0 0 black;
}
.student-btn {
  border-radius: 0px;
}
.professor-btn {
  border-radius: 0px;
  background: #1DA57A;
  border-color: #1DA57A;
}
.professor-btn:focus, .professor-btn:hover {
  background: #1DBE7A;
  border-color: #1DBE7A;
}


/* classroom */

/* project list */
.swimlane {
  width: 25%;
  min-width: 200px;
  display: inline-block;
}
.project-card {
  padding: 8px;
}
/* project-card */
.project-card .ant-card-bordered {
  border: 1px solid #e8e8e8;
  border-left: none;
  border-top: none;
  box-shadow: 0 2px 8px rgba(0,0,0,.09);
  transition: all .2s cubic-bezier(.4,0,.2,1);
}
.project-card .ant-card-bordered:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12), 0 5px 5px -3px rgba(0,0,0,.2);
}
.project-card .ant-card-bordered>.ant-card-head {
  /* background: rgba(58, 28, 0, .56); */
  background: rgb(55, 79, 127);
}

.project-card .ant-card-head .ant-card-head-title {
  color: white;
}

/* ant-table */
.ant-table-row:hover {
  transform: scale(1.01);
}
.ant-table-thead>tr>th {
  /* background: rgba(58, 28, 0, .56); */
  background: rgb(55, 79, 127);
  color: white;
}


/* notice */
pre {
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  white-space: pre-wrap;
}

.noticeInput.ant-input {
  outline: none;
  border: none;
}
.noticeInput.ant-input:focus,
.noticeInput.ant-input:hover {
  outline:none;
  border: none;
  box-shadow: 0 0 black;
}


/* kanban */
.kanban-card {
  box-shadow: lightgrey 0px 1px 2px;
}
.kanban-card:hover {
  transform: scale(1.03);
  transition: transform .2s;
  box-shadow: 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12), 0 5px 5px -3px rgba(0,0,0,.2);
}

.kanban-upload .kanban-input.ant-input,
.feedback-upload .feedback-input.ant-input,
#feedback_content.ant-input {
  outline: none;
  border: none;
  border-radius: 0;
}
.kanban-upload .kanban-input.ant-input:focus,
.kanban-upload .kanban-input.ant-input:hover,
.feedback-upload .feedback-input.ant-input:focus,
.feedback-upload .feedback-input.ant-input:hover
#feedback_content.ant-input:focus,
#feedback_content.ant-input:hover {
  outline: none;
  border: none;
  box-shadow: 0 0 black;
}

.ant-modal-content {
  border-radius: 0;
}
.ant-modal-header {
  border-bottom: 0;
}
.ant-modal-footer {
  border-top: 0;
}

/* kanban info */
#title_value.ant-input {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 12px;
}
#content_value.ant-input{
  font-size: 18px;
}
#title_value.ant-input,
#content_value.ant-input,
#feedback_value.ant-input {
  outline: none;
  border: none;
  width: 100%;
}
#title_value.ant-input:focus,
#title_value.ant-input:hover,
#content_value.ant-input:focus,
#content_value.ant-input:hover,
#feedback_value.ant-input:focus,
#feedback_value.ant-input:hover {
  outline: none;
  border: none;
  box-shadow: 0 0 black;
}


/* 반응형 */
@media (max-width: 576px) {
  /* body */
  .layout-body {
    margin-left: 70px;
  }
  /* sider */
  .sideMenu > li > a {
    font-size: 20px;
    text-align: center;
  }
  .anticon {
    font-size: 20px;
  }
  .sideMenu > li > a > strong {
    display: none;
  }
  /* logout-button */
  .ant-btn.logout-btn {
    width: 80%;
  }
  .ant-btn.logout-btn > span {
    display: none;
  }
  /* logo image */
  .logo {
    background-image: url("./images/logo2.png");
  }
}